:root {
    /* The number of steps (sections) in the Stepped Progress Bar, less 1. E.g. if 6 steps, then this should be 5 */
    --spbSteps: 5;
    --spbCompletedColor: #2C3E50;
    --spbGhostColor: #ccc;
}

body {
    font-family: "Lato", sans-serif;
}

#steppedProgressBar {
    width: 80%;
    margin: 0px auto;
    font-size: 12px;
    font-weight: 900;
    position: relative;
}

#steppedProgressBar:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    height: 5px;
    width: 100%;
    background-color: var(--spbGhostColor);
    -webkit-transform: translateY(-50%) perspective(1000px);
    transform: translateY(-50%) perspective(1000px);
}

#steppedProgressBar:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    height: 5px;
    width: 100%;
    background-color: var(--spbCompletedColor);
    -webkit-transform: scaleX(0) translateY(-50%) perspective(1000px);
    transform: scaleX(0) translateY(-50%) perspective(1000px);
    -webkit-transform-origin: left center;
    transform-origin: left center;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

#steppedProgressBar.step-2:after {
    transform: scaleX(calc(1/var(--spbSteps)*1)) translateY(-50%) perspective(1000px);
}

#steppedProgressBar.step-3:after {
    transform: scaleX(calc(1/var(--spbSteps)*2)) translateY(-50%) perspective(1000px);
}

#steppedProgressBar.step-4:after {
    transform: scaleX(calc(1/var(--spbSteps)*3)) translateY(-50%) perspective(1000px);
}

#steppedProgressBar.step-5:after {
    transform: scaleX(calc(1/var(--spbSteps)*4)) translateY(-50%) perspective(1000px);
}

#steppedProgressBar.step-6:after {
    transform: scaleX(calc(1/var(--spbSteps)*5)) translateY(-50%) perspective(1000px);
}

#steppedProgressBar .progress-bar {
    width: 100%;
    display: flex;
    height: 25px;
    justify-content: space-between;
    align-items: center;
}

#steppedProgressBar .progress-bar .step {
    z-index: 2;
    position: relative;
}

#steppedProgressBar .progress-bar .step .step-label {
    position: absolute;
    top: calc(100% + 12px);
    left: 50%;
    -webkit-transform: translateX(-50%) perspective(1000px);
    transform: translateX(-50%) perspective(1000px);
    white-space: nowrap;
    font-size: 14px;
    font-weight: 600;
    color: var(--spbGhostColor);
    transition: 0.3s ease;
}

#steppedProgressBar .progress-bar .step span {
    color: var(--spbGhostColor);
    transition: 0.3s ease;
    display: block;
    -webkit-transform: translate3d(0, 0, 0) scale(1) perspective(1000px);
    transform: translate3d(0, 0, 0) scale(1) perspective(1000px);
}

#steppedProgressBar .progress-bar .step .fa-check {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(0) perspective(1000px);
    transform: translate3d(-50%, -50%, 0) scale(0) perspective(1000px);
}

#steppedProgressBar .progress-bar .step.active span,
#steppedProgressBar .progress-bar .step.active .step-label {
    color: var(--spbCompletedColor);
}

#steppedProgressBar .progress-bar .step.valid .fa-check {
    -webkit-transform: translate3d(-50%, -50%, 0) scale(1) perspective(1000px);
    transform: translate3d(-50%, -50%, 0) scale(1) perspective(1000px);
}

#steppedProgressBar .progress-bar .step.valid span {
    color: var(--spbCompletedColor);
    -webkit-transform: translate3d(0, 0, 0) scale(2) perspective(1000px);
    transform: translate3d(0, 0, 0) scale(2) perspective(1000px);
}

#steppedProgressBar .progress-bar .step.valid .step-label {
    color: var(--spbCompletedColor) !important;
}

#steppedProgressBar .progress-bar .step:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) perspective(1000px);
    transform: translate(-50%, -50%) perspective(1000px);
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid var(--spbGhostColor);
    transition: 0.3s ease;
}

#steppedProgressBar .progress-bar .step.active:after {
    border: 5px solid var(--spbCompletedColor);
}

#steppedProgressBar .progress-bar .step.valid:after {
    background-color: var(--spbCompletedColor);
    border: 5px solid var(--spbCompletedColor);
}

#steppedProgressBar .spbSubHeading {
    font-weight: 100;
    margin-top: 5px;
}



.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: 100px auto 0px;
}

.button-container .btn {
    display: inline-block;
    background-color: var(--spbCompletedColor);
    color: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 900;
    border: 3px solid var(--spbCompletedColor);
    transition: 0.3s ease;
    cursor: pointer;
    text-align: center;
}

.button-container .btn:hover {
    background-color: transparent;
    color: var(--spbCompletedColor);
    -webkit-transform: scale(1.02) perspective(1000px);
    transform: scale(1.02) perspective(1000px);
}